#  Example Qudi configuration file.
#
#
#
# IMPORTANT: The format of every 'module.Class' line has changed on 28.6.2015.
# =========  The class name now needs to be explicitly given here in the config.
#		  the config line must the form package.module.Class.ClassName
global:
    # list of modules to load when starting
    startup: ['man', 'tray']

    module_server:
        address: 'localhost'
        port: 12345

    ## For controlling the appearance of the GUI:
    stylesheet: 'qdark.qss'

hardware:
    halfwaveplate:
        module.Class: 'aptmotor.APTStage'
        dll_path: 'C:\\Program Files\\Thorlabs\\APT\\APT Server\\APT.dll'
        axis_labels:
            - phi
        phi:
            hw_type: 'K10CR1'
            serial_num: 55000038
            pitch: 0.00
            unit: 'degree'
            constraints:
                pos_min: -360
                pos_max: 360
                vel_min: 0.01
                vel_max: 10.0
                acc_min: 4.0
                acc_max: 10.0
    quarterwaveplate:
        module.Class: 'aptmotor.APTStage'
        dll_path: 'C:\\Program Files\\Thorlabs\\APT\\APT Server\\APT.dll'
        axis_labels:
            - phi
        phi:
            hw_type: 'TDC001'
            serial_num: 83839446
            pitch: 0.00
            unit: 'degree'
            constraints:
                pos_min: -360
                pos_max: 360
                vel_min: 0.05
                vel_max: 10.0
                acc_min: 6.0
                acc_max: 10.0
    powermeter:
        module.Class: 'pm100d.PM100D'
        address: 'USB::0x1313::0x8079::P1004028::INSTR'

    ctltoptica:
        module.Class: 'ctl_toptica.Toptica_DLC_pro'

    ctltopticadummy:
        module.Class: 'ctl_toptica_dummy.Toptica_DLC_proDummy'

    highfinesse:
        module.Class: 'high_finesse_wavemeter.HighFinesseWavemeter'
        measurement_timing: 10.0 # in seconds

    mynicard:
        module.Class: 'national_instruments_x_series.NationalInstrumentsXSeries'
        clock_channel: '/Dev1/Ctr0'
        counter_channels: ['/Dev1/Ctr3', '/Dev1/Ctr1']
        scanner_clock_channel: '/Dev1/Ctr2'
        scanner_counter_channels: ['/Dev1/Ctr3', '/Dev1/Ctr1']
        photon_sources: ['/Dev1/PFI8', '/Dev1/PFI3']
        counting_edge_rising: True
        gate_in_channel: '/Dev1/PFI9'
        odmr_trigger_channel: '/Dev1/PFI12'
        scanner_position_ranges: [[0, 30e-6], [0, 30e-6], [0, 0.8], [0, 4]]
        scanner_voltage_ranges: [[0, 10], [0, 10], [0, 1], [0, 4]]
        scanner_ao_channels: ['/Dev1/AO1', '/Dev1/AO0', '/Dev1/AO2', '/Dev1/AO3']
        default_clock_frequency: 100
        default_scanner_clock_frequency: 200
        default_samples_number: 10

    nicard_instreamer:
        module.Class: 'ni_x_series_in_streamer.NIXSeriesInStreamer'
        device_name: 'Dev1'
        digital_sources:  # optional
            - 'PFI8'
        #analog_sources:  # optional
        #    - 'ai0'
        #    - 'ai1'
        # external_sample_clock_source: 'PFI0'  # optional
        # external_sample_clock_frequency: 1000  # optional
        #adc_voltage_range: [-10, 10]  # optional
        max_channel_samples_buffer: 10000000  # optional
        read_write_timeout: 10  # optional

    nicard_instreamer2:
        module.Class: 'ni_x_series_in_streamer.NIXSeriesInStreamer'
        device_name: 'Dev1'
        digital_sources:  # optional
            - 'PFI3'
        #analog_sources:  # optional
        #    - 'ai0'
        #    - 'ai1'
        # external_sample_clock_source: 'PFI0'  # optional
        # external_sample_clock_frequency: 1000  # optional
        #adc_voltage_range: [-10, 10]  # optional
        max_channel_samples_buffer: 10000000  # optional
        read_write_timeout: 10  # optional

    andor:
        module.Class: 'spectrometer.andor.Andor'
        remote: 'rpyc://10.54.11.250:505/andor'

    shamrock:
        module.Class: 'spectrometer.shamrock.Shamrock'
        remote: 'rpyc://10.54.11.250:505/shamrock'

    mynicounter:
        module.Class: 'slow_counter_dummy.SlowCounterDummy'
        clock_channel: '/Dev1/Ctr0'
        clock_frequency: 100
        counter_channel: '/Dev1/Ctr1'
        photon_source: '/Dev1/PFI13'
        count_distribution: 'dark_bright_poisson'
        remoteaccess: True

    keysightscope:
        module.Class: 'scope_keysight3024T.Scope3024T'

    mw_source_synthhd:
        module.Class: 'microwave.mw_source_windfreak_synthhdpro.MicrowaveSynthHDPro'
#       serial_port: 'COM4'
        serial_port: 'COM3'
        serial_timeout: 10 # in seconds
        output_channel: 1  # either 0 or 1

    mw_source_srssg:
        module.Class: 'microwave.mw_source_srssg.MicrowaveSRSSG'
        serial_port: 'COM4'
        serial_timeout: 10 # in seconds
#       output_channel: 1  # either 0 or 1

logic:
    power_scanner_logic:
        module.Class: 'power_scanner_logic.PowerScannerLogic'
        connect:
            savelogic: 'savelogic'
            confocalscanner1: 'mynicard'

    power_stabilization_logic:
        module.Class: 'power_stabilization_logic.PowerStabilizationLogic'
        connect:
            confocalscanner1: 'mynicard'
            powermeter1: 'powermeter'

    laser_scanner_logic:
        module.Class: 'laser_scanner_logic.LaserScannerLogic'
        connect:
            savelogic: 'savelogic'
            confocalscanner1: 'mynicard'

    ctl_toptica_logic:
        module.Class: 'ctl_toptica_logic.TopticaDLCproLogic'
        connect:
            savelogic: 'savelogic'
            laser: 'ctltoptica'

    ctl_toptica_test_logic:
        module.Class: 'ctl_toptica_logic.TopticaDLCproLogic'
        connect:
            savelogic: 'savelogic'
            laser: 'ctltopticadummy'

    high_finesse_logic:
        module.Class: 'wavemeter_logger_logic.WavemeterLoggerLogic'
        connect:
            wavemeter1: 'highfinesse'
            savelogic: 'savelogic'
            counterlogic: 'counterlogic'
            fitlogic: 'fitlogic'

    andor_spectrometer:
        module.Class: 'interfuse.andor_spectrometer_interfuse.AndorSpectrometerInterfuse'
        connect:
            andor_cam: 'andor'
            shamrock_spectrometer: 'shamrock'

    timeserieslogic:
        module.Class: 'time_series_reader_logic.TimeSeriesReaderLogic'
        max_frame_rate: 20
        connect:
            _streamer_con: 'nicard_instreamer'
            _savelogic_con: 'savelogic'

    timeserieslogic2:
        module.Class: 'time_series_reader_logic.TimeSeriesReaderLogic'
        max_frame_rate: 20
        connect:
            _streamer_con: 'nicard_instreamer2'
            _savelogic_con: 'savelogic'

    counterlogic:
        module.Class: 'counter_logic.CounterLogic'
        connect:
            counter1: 'mynicard'
            savelogic: 'savelogic'

    scannerlogic:
        module.Class: 'confocal_logic.ConfocalLogic'
        connect:
            confocalscanner1: 'scanner_tilt_interfuse'
            savelogic: 'savelogic'

    spectroscannerlogic:
        module.Class: 'spectro_confocal_logic.ConfocalLogic'
        connect:
            confocalscanner1: 'scanner_tilt_interfuse'
            savelogic: 'savelogic'
            andorcamera: 'andor'
            shamrock: 'shamrock'

    scanner_tilt_interfuse:
        module.Class: 'interfuse.scanner_tilt_interfuse.ScannerTiltInterfuse'
        connect:
            confocalscanner1: 'mynicard'

    optimizerlogic:
        module.Class: 'optimizer_logic.OptimizerLogic'
        connect:
            confocalscanner1: 'mynicard'
            fitlogic: 'fitlogic'

    poimanagerlogic:
        module.Class: 'poi_manager_logic.PoiManagerLogic'
        connect:
            scannerlogic: 'scannerlogic'
            optimizer1: 'optimizerlogic'
            savelogic: 'savelogic'

    fitlogic:
        module.Class: 'fit_logic.FitLogic'

    tasklogic:
        module.Class: 'taskrunner.TaskRunner'
        tasks:
        #    dummytask:
        #        module: 'dummy'
        #        preposttasks: ['ppdummy']
        #    dummyinterruptor:
        #        module: 'dummy'
        #        pausetasks: ['dummytask']
        #        preposttasks: ['ppdummy2']
        #    ppdummy:
        #        module: 'prepostdummy'
        #    ppdummy2:
        #        module: 'prepostdummy'
            scannerLocationRefocus:
                module: 'refocus'
        #        preposttasks: ['fliplasermirror']
                pausetasks: ['scan', 'odmr']
        #        needsmodules:
        #            optimizer: 'optimizerlogic'
        #        config:
        #            initial: [1, 1, 1]
        #    fliplasermirror:
        #        module: 'flipmirror'
        #        needsmodules:
        #            switchlogic: 'switch'
        #        config:
        #            sequence: [('mydummyswitch1', 1, True), ('mydummyswitch1', 2, True), ('mydummyswitch2', 1, True)]

    savelogic:
        module.Class: 'save_logic.SaveLogic'
        win_data_directory: 'C:/Data'   # DO NOT CHANGE THE DIRECTORY HERE! ONLY IN THE CUSTOM FILE!
        unix_data_directory: 'Data/'
        log_into_daily_directory: True


    motorizedstagelogic:
        module.Class: 'motorized_stage_logic.MotorizedStageLogic'
        connect:
            counter1: 'mynicard'
            quarterwaveplate: 'quarterwaveplate'
            halfwaveplate: 'halfwaveplate'
            savelogic: 'savelogic'

    odmrlogic:
        module.Class: 'odmr_logic.ODMRLogic'
        connect:
#           odmrcounter: 'ni6221'
#           odmrcounter: 'mydummyodmrcounter'
            odmrcounter: 'odmr_counter_microwave_interfuse'
            fitlogic: 'fitlogic'
            microwave1: 'odmr_counter_microwave_interfuse'
#           microwave1: 'microwave_dummy'
#           microwave1: 'mw_source_synthhd'
            savelogic: 'savelogic'
            taskrunner: 'tasklogic'
        scanmode: 'LIST'

    # This interfuse enables ODMR if hardware trigger is not available,
    # or if the counter has only two channels:
    odmr_counter_microwave_interfuse:
        module.Class: 'interfuse.odmr_counter_microwave_interfuse.ODMRCounterMicrowaveInterfuse'
        connect:
            #slowcounter: 'ni6221'
            slowcounter: 'mynicard'
            microwave: 'mw_source_synthhd'
#            microwave: 'mw_source_srssg'

gui:
    counter_vis:
        module.Class: 'time_series.time_series_gui.TimeSeriesGui'
        connect:
            _time_series_logic_con: 'timeserieslogic'

    counter_nir:
        module.Class: 'time_series.time_series_gui.TimeSeriesGui'
        connect:
            _time_series_logic_con: 'timeserieslogic2'

    confocal:
        module.Class: 'confocal.confocalgui.ConfocalGui'
        connect:
            confocallogic1: 'scannerlogic'
            savelogic: 'savelogic'
            optimizerlogic1: 'optimizerlogic'
        fixed_aspect_ratio_xy: True
        fixed_aspect_ratio_depth: True
        slider_stepsize: 0.001  # in micrometer
        image_x_padding: 0.02
        image_y_padding: 0.02
        image_z_padding: 0.02

    counter_old:
        module.Class: 'counter.countergui.CounterGui'
        connect:
            counterlogic1: 'counterlogic'

    laserscannergui:
        module.Class: 'laserscanner.laserscannergui.VoltScanGui'
        connect:
            savelogic: 'savelogic'
            voltagescannerlogic1: 'laser_scanner_logic'

    powerscannergui:
        module.Class: 'powerscanner.powerscannergui.VoltScanGui'
        connect:
            savelogic: 'savelogic'
            voltagescannerlogic1: 'power_scanner_logic'

    powerstabilizationgui:
        module.Class: 'laserpowercontrol.laserpowercontrol_gui.PowerStabilizationGui'
        connect:
            power_stabilization_logic: 'power_stabilization_logic'

    #ctltopticagui:
    #    module.Class: 'ctltoptica.ctltoptica_gui.LaserGUI'
    #    connect:
    #        savelogic: 'savelogic'
    #        laserlogic: 'ctl_toptica_logic'

    #ctltopticatestgui:
    #    module.Class: 'ctltoptica.ctltoptica_gui.LaserGUI'
    #    connect:
    #        savelogic: 'savelogic'
    #        laserlogic: 'ctl_toptica_test_logic'

    wavemeterloggui:
        module.Class: 'wavemeterlogger.wavemeterloggui.WavemeterLogGui'
        connect:
            wavemeterloggerlogic1: 'high_finesse_logic'
            savelogic: 'savelogic'

    tray:
        module.Class: 'trayicon.TrayIcon'

    man:
        module.Class: 'manager.managergui.ManagerGui'

    confocal:
        module.Class: 'confocal.confocalgui.ConfocalGui'
        connect:
            confocallogic1: 'scannerlogic'
            savelogic: 'savelogic'
            optimizerlogic1: 'optimizerlogic'
        fixed_aspect_ratio_xy: True
        fixed_aspect_ratio_depth: True
        slider_stepsize: 0.001  # in micrometer
        image_x_padding: 0.02
        image_y_padding: 0.02
        image_z_padding: 0.02


    ODMR:
        module.Class: 'odmr.odmrgui.ODMRGui'
        connect:
            odmrlogic1: 'odmrlogic'
            savelogic: 'savelogic'
)
